BusinessPro Core/Service References/KinetiqueServiceReference/SQLServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SQLServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.12:69/Database?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.12:69/Database?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.12:69/Database?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISQLServer_ExecuteNonQueryFromQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryFromQueue" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteNonQueryFromQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryFromQueueResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteNonQueryReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryReturn" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteNonQueryReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="ISQLServer_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISQLServer">
    <wsdl:operation name="ExecuteNonQueryFromQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQueryFromQueue" message="tns:ISQLServer_ExecuteNonQueryFromQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQueryFromQueueResponse" message="tns:ISQLServer_ExecuteNonQueryFromQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQuery" message="tns:ISQLServer_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQueryResponse" message="tns:ISQLServer_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQueryReturn" message="tns:ISQLServer_ExecuteNonQueryReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISQLServer/ExecuteNonQueryReturnResponse" message="tns:ISQLServer_ExecuteNonQueryReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISQLServer/ExecuteQuery" message="tns:ISQLServer_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISQLServer/ExecuteQueryResponse" message="tns:ISQLServer_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISQLServer" type="tns:ISQLServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteNonQueryFromQueue">
      <soap:operation soapAction="http://tempuri.org/ISQLServer/ExecuteNonQueryFromQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/ISQLServer/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryReturn">
      <soap:operation soapAction="http://tempuri.org/ISQLServer/ExecuteNonQueryReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap:operation soapAction="http://tempuri.org/ISQLServer/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQLServer">
    <wsdl:port name="BasicHttpBinding_ISQLServer" binding="tns:BasicHttpBinding_ISQLServer">
      <soap:address location="http://192.168.1.12:69/Database/192.168.1.12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>